<%- include("partials/header") %>

    <section id = post-div>
        <h1 id="post-title" class="text-center py-5"><%= el.name %></h1>

        <div id = "post-body" >
            <p><%= el.post %></p>
        </div>
    </section>
   
    
<%- include("partials/footer") %>