* {
    background-color:#EAEAEA;
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: 'SF Pro Text';
    font-weight: 300;
    
}

/*******************Navigation Bar*****************/
nav li {
    list-style-type: none;
    display:inline-block;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:1.5rem;
    font-family: "Inter";
    color:#6D8299;
    height:50px;
    margin-top:3%;
    padding-left:1%;
}

nav a {
    color:#6D8299;
    text-decoration: none;
}
ul {
    height:50px;
}
#nav-options {
    width:45%;
  
    display:flex;
    justify-content: space-evenly;
}

/*********************Footer**********************/
footer {
  
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    font-size:1.5rem;
    font-family: 'Biotif';
    font-weight: 400;
    margin:0 auto;
}

/********************Home Page********************/
#home-page,#about,#contact,#compose,#post-div {
    min-height:100vh;
    margin:0 auto;
    padding:3%;
}










/************************Compose Page*****************/
#compose h1 {
    font-size:2rem;
    opacity:0.7;
    margin-bottom:2%;
}

textarea {
    font-family:"SF Pro Text";
}



/********************Post Page**********************/

#post-body {
    width:70%;
    margin: 0 auto;
}