<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %> 
</head>
<body>
    <%- include("partials/navbar") %> 
    <h1>This is the Home Page <%=24+17/2 %></h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque, pariatur totam voluptates neque sapiente autem enim? Quidem sit ab tempore illo dolorem nisi ex! Nam consectetur in id qui!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda possimus saepe rerum quas, error dicta totam similique velit iusto libero? Nisi iste eaque molestias modi, earum ipsam magni repellat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo delectus repudiandae quas similique, corporis maiores ducimus impedit porro ea. Sunt, tenetur. Sit aspernatur voluptate blanditiis cupiditate, a placeat excepturi tenetur!</p>
</body>
</html>